<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <div class="card" style="width: 100%; max-width: 500px; margin: auto;">
        <h1 style="color: #3498db;">Confirmar Réplica</h1>
        <p>Tabla: <b>{{ tabla }}</b></p>
        <p>Hacia: <b>{{ destino.upper() }}</b></p>
        <form action="/ejecutar_replicacion" method="POST">
            <input type="hidden" name="origen" value="{{ origen }}">
            <input type="hidden" name="destino" value="{{ destino }}">
            <input type="hidden" name="tabla" value="{{ tabla }}">
            <button type="submit" class="card" style="width: 100%; background: #3498db; border:none; margin-top:20px;">
                INICIAR TRANSFERENCIA
            </button>
        </form>
        <a href="/seleccionar_destino/{{ origen }}/{{ tabla }}" class="btn-back">Volver</a>
    </div>
</div>
