<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <div class="card" style="width: 450px; margin: auto;">
        <h1 style="color: #3498db;">Conexión Manual</h1>
        <form action="/conectar_externo" method="POST">
            <input type="hidden" name="origen_pendiente" value="{{ origen_pendiente }}">
            
            <input type="text" name="host" placeholder="Host (ej: proxy.rlwy.net)" required>
            <input type="text" name="user" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="number" name="port" placeholder="Puerto" required>
            <input type="text" name="database" placeholder="Nombre de Base de Datos" required>
            
            <button type="submit" class="card" style="width: 100%; background: #3498db; margin-top: 20px;">
                {% if origen_pendiente %} CONECTAR Y REPLICAR {% else %} ESTABLECER CONEXIÓN {% endif %}
            </button>
        </form>
        <a href="/" class="btn-back">Cancelar</a>
    </div>
</div>
