<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Replicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>=== SISTEMA DE REPLICACIÓN ===</h1>
        
        <div class="container">
            <a href="/tablas/heladeria" class="card">
                <div class="icon">🍦</div>
                <span>BD Heladería</span>
            </a>

            <a href="/tablas/panaderia" class="card">
                <div class="icon">🍞</div>
                <span>BD Panadería</span>
            </a>

            <a href="/formulario_externo" class="card">
                <div class="icon">🖧</div>
                <span>Externo</span>
            </a>
        </div>
    </div>
</body>
</html>
