<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    <h1>¿A dónde enviar "{{ tabla }}"?</h1>
    <p>Origen: {{ origen.upper() }}</p>
    <div class="card-grid">
        {% if origen == 'externo' %}
            <a href="/confirmar_replica?origen=externo&destino=heladeria&tabla={{ tabla }}" class="card">
                <div class="icon">🍦</div><span>BD Heladería</span>
            </a>
            <a href="/confirmar_replica?origen=externo&destino=panaderia&tabla={{ tabla }}" class="card">
                <div class="icon">🍞</div><span>BD Panadería</span>
            </a>
        {% else %}
            {% set destino_fijo = 'panaderia' if origen == 'heladeria' else 'heladeria' %}
            <a href="/confirmar_replica?origen={{ origen }}&destino={{ destino_fijo }}&tabla={{ tabla }}" class="card">
                <div class="icon">🗄️</div><span>BD {{ destino_fijo.capitalize() }}</span>
            </a>
        {% endif %}
        
        <a href="/formulario_externo?origen={{ origen }}&tabla={{ tabla }}" class="card">
            <div class="icon">🖥️</div><span>Servidor Externo</span>
        </a>
    </div>
    <a href="/explorar/{{ origen }}" class="btn-back">← Regresar a Explorar</a>
</div>
