<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <div class="container">
        {% if exito %}<div class="alert-success">✅ Replicación Física Completada</div>{% endif %}
        <div class="card" style="width: 100%; text-align: left;">
            <h3>Datos en Tabla: {{ tabla }}</h3>
            <table>
                <tr><th>id</th><th>nombre</th></tr>
                {% for fila in datos %}
                <tr><td>{{ fila.id }}</td><td>{{ fila.nombre }}</td></tr>
                {% endfor %}
            </table>
            <a href="/dashboard/{{ tipo }}" class="btn-back">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>
