<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
    {% if exito %}<div class="alert-success">✅ Replicación de "{{ tabla }}" Completada</div>{% endif %}
    <h2>Datos en {{ tabla }} ({{ tipo.upper() }})</h2>
    <table>
        {% if datos %}
            <tr>{% for key in datos[0].keys() %}<th>{{ key }}</th>{% endfor %}</tr>
            {% for fila in datos %}
                <tr>{% for val in fila.values() %}<td>{{ val }}</td>{% endfor %}</tr>
            {% endfor %}
        {% else %}
            <tr><td>No hay datos disponibles en esta tabla.</td></tr>
        {% endif %}
    </table>
    <a href="/explorar/{{ tipo }}" class="btn-back">Volver a Tablas</a>
</div>
